<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
</head>
</html>

{% load static %}

<link rel="stylesheet" href="{% static 'polls/style.css' %}">

<div style="min-width: 0;padding: 80px;margin: auto;">
{% if latest_question_list %}
    <ul class="col-sm-12 col-md-12 col-lg-6 pb-4"><h1 ></h1>
    {% for question in latest_question_list %}
    <li style="font-weight: 500; font-size: large; " ><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul></h1>
{% else %}
    <p>No polls are available.</p>
{% endif %}

<a style=" width: 100px; font-weight: bold; background-color: rgb(55, 10, 202); text-decoration-color: aliceblue; text-decoration-thickness: 100px;" class="btn btn-primary mt-2" href="http://localhost:8000/admin/login/">Admin Login</a>
</div>
